.container{
    margin: 25px 10px 25px 30px;
    min-width: 95%;
    overflow-x: auto
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}