@media (min-width: 992px){
.containerLogin {
    height: 100vh;
}
}

.containerLogin {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px){
.layout-component {
    flex-direction: row;
    width: 100%;
}
}

.layout-component {
    display: flex;
    height: 100%;
}

@media (min-width: 992px){
.Login-leftLayout {
    width: 50%;
    height: 100%;
}
}

.Login-leftLayout {
    color: rgb(255, 255, 255);
    background-image: url(../assets/Image/image_container.png);
    background-size: cover;
    background-position: left center;
    background-repeat: round;
    position: relative;
    width: 50%;
}

@media (min-width: 1128px){
.mainSignIn {
    width: 40%;
}
}
@media (min-width: 992px){
.Login-rightLayout {
    width: 45%;
}
}

.Login-rightLayout {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%
}

.signInForm {
    height: 100%;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.labelSignIn{
    color: rgb(5, 117, 230);
    font-size: 33px;
    transition: font-size 0.2s ease-in 0s;
    font-family: GothicB;
}

@media (min-width: 744px){
.mainSignIn {
    margin-top: 2%;
    width: 50%;
}
}

.mainSignIn{
    margin-bottom: 5%;
    transition: width 0.2s ease 0s;
}

.mainEmail {
    margin-bottom: 1.4rem;
    text-align: start;
    position: relative;
}

@media (min-width: 744px){

.mainEmail label {
    font-size: 16px;
}
}

.mainEmail label {
    color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    font-family: Gothic;
    margin-bottom: 0.5rem;
}

.inputEmail, .inputPassword{
    position: relative;
    width: 94.5%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;
    display: inline-flex;
    height: 40px;
}

.inputPassword{
    margin-bottom: 0.8rem
}

.ant-input-prefix {
    margin-right: 4px;
    display: flex;
    align-items: center;
}

.mainPassword{
    text-align: start;
    position: relative;
    margin-bottom: 0.8rem;
}

.mainPassword label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    font-family: Gothic;
    margin-bottom: 0.5rem;
}


.ant-input {
    padding: 0;
    border: none;
    outline: none;
}

.input_password{
    width: 150%;
    padding: 0;
    border: none;
    outline: none;
}

.input_user{
    width: 150%;
    padding: 0;
    border: none;
    outline: none;
}

.btn_submit{
    font-family: GoThic;
    border-radius: 5px;
    padding: 6px 50px;
    border: 2px solid;
    font-size: 18px;
    width: 100%;
    color: rgb(255, 255, 255);
    margin: 1rem 0px;
    transition: background-color 0.3s ease 0s;
    cursor: pointer;
    background: linear-gradient(to right, rgb(5, 117, 230), rgb(2, 27, 121));
}
.forget_password{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.forget_password a{
    color: rgb(5, 117, 230);
    font-size: 15px;
    font-family: Gothic;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}
.scan_or{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 1rem auto;
}
    .or{
        width: 100%;
        height: 1px;
        margin: 0px 1rem;
        background: gray;
    }

.tech{
    margin-top: 16px;
    padding: 5px;
    text-align: center;
}    
    .register{
        font-family: Gothic;
        font-size: 16px;
        color: rgb(5, 117, 230);
        transition: color 0.2s ease 0s;
        cursor: pointer;
        font-weight: 600;
        text-decoration: none;
    }

.error {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}
  